/* patch for table */
table {
  width: 100%;
}

table tr :is(th, td) {
  padding-block: 7px;
}

@media (min-width: 768px) {
  table tr :is(th, td) {
    padding-block: 10px;
  }
}

/* float right image */
img.right {
  margin-left: 1rem;
}

/* patch for disabled link */
.chapter-item div {
  color: var(--sidebar-fg);
}
