/* patch for list */
main ul {
  margin-block: 0;
  padding-inline-start: 2rem;
}

/* patch for table */
table {
  width: 100%;
}

table tr :is(th, td) {
  padding-block: 0.7rem;
}

@media (min-width: 40rem) {
  table tr :is(th, td) {
    padding-block: 1rem;
  }
}

/* patch for disabled link */
.chapter-item div {
  color: var(--sidebar-fg);
}
