/* img template */
main img {
  border-radius: 1rem;
}

.img-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-block: 1rem;

  & .caption {
    margin: 0;
    font-size: small;
    text-align: center;
    padding-inline: 0.5rem;
    color: var(--icons);
  }
}

@media (min-width: 40rem) {
  .img-template[data-type="right"],
  .img-template[data-type="left"] {
    width: var(--width);
  }

  .img-template[data-type="right"] {
    float: right;
    padding-left: 1rem;
  }

  .img-template[data-type="left"] {
    float: left;
    padding-right: 1rem;
  }
}

.lightbox {
  position: fixed;
  top: 50% !important;
  transform: translateY(-50%);
}

.lightboxOverlay {
  opacity: 1;
  backdrop-filter: blur(5px);
  background-color: #000000a0;
}
