/* img template */
main img {
  border-radius: 1rem;
}

.img-template {
  & img {
    width: 100%;
  }

  & .caption {
    margin: 0;
    font-size: small;
    text-align: center;
    color: var(--icons);
  }
}

@media (min-width: 40rem) {
  .img-template[data-type="right"],
  .img-template[data-type="left"] {
    padding-bottom: 1rem;
    width: attr(data-width rem, 20rem);
  }

  .img-template[data-type="right"] {
    float: right;
    padding-left: 1rem;
  }

  .img-template[data-type="left"] {
    float: left;
    padding-right: 1rem;
  }
}
